@import '../../../style/variables';

.DropdownButton {
  display: flex;
  align-items: center;
  
  padding: 10px 16px;
  
  height: 40px;
  width: 165px;
  background-color: $white_0;
  border: 1px solid $gray_200;
  border-radius: 4px;
  
  font: inherit;
  font-weight: normal;
  font-size: 1rem;
  color: $gray_700;
  line-height: 21px;
  
  &:focus {
    outline: $outline_property;
  }
}

.ButtonDownArrow {
  margin-left: auto;
}