@import "../../../../../style/variables";

.ModalBox {
  width: 450px;
}

.ModalExplanation {
  padding: 4px;
  margin-bottom: 16px;
  text-align: justify;
  
  font: inherit;
  font-size: 1rem;
  font-weight: 400;
  line-height: 21px;
  color: $gray_500;
}

.ModalInputs {
  margin-bottom: 24px;
}