@import "../../style/variables";

.TimelineButtonContainer {
  display: flex;
  align-items: center;
  padding-bottom: 20px;
  border-bottom: 1px solid #f5f5f5
}

.TimelineFilterButton {
  border: none;
  margin: 0;
  padding: 6px 12px;
  width: auto;
  overflow: visible;

  background: transparent;
  font: inherit;
  font-weight: 400;
  font-size: 1rem;
  line-height: 21px;
  color: $gray_600;
  
  img {
    margin-right: 8px;
  }
  
  &:hover {
    cursor: pointer;
    color: $gray_700;
  }
}

.Inactive {
  color: $gray_300;
  
  &:hover {
    color: $gray_400;
  }
}

.TimeLineItem {
  position: relative;
  border-left: 1px solid #CACACA;
  margin-bottom: 5px;
}

.Icon {
  position: absolute;
  left: -5px;
  padding: 4px 0 8px 0;
  background-color: white;
}

.MessageBox {
  padding-left: 16px;
}

.Message {
  font: inherit;
  font-weight: 400;
  font-size: 1rem;
  color: #808080;
  line-height: 21px;
}

.InnerMessage {
  display: inline-block;
  margin: 3px 0;
  padding: 6px 16px;
  font-weight: 400;
  font-size: 1rem;
  color: #656565;
  line-height: 21px;
  border-radius: 4px;
  
  border-left: 3px solid #01a3bf;
  background-color: rgba(243, 243, 243, 0.40);
}

.LogTime {
  padding-bottom: 18px;
  font: inherit;
  font-size: 0.86rem;
  font-weight: 400;
  line-height: 21px;
  color: $gray_400;
}

.Highlight {
  font-weight: 600;
  color: #5F5F5F;
}

.CleanFilter {
  display: flex;
  align-items: center;
  
  font: inherit;
  font-weight: 400;
  font-size: 1rem;
  line-height: 21px;
  color: $gray_600;
  
  img {
    margin-left: 8px;
    height: 14px;
    width: 14px;
  }
  
  &:hover {
    cursor: pointer;
    color: $gray_700;
  }
}