@import "../../style/variables";

.Button {
  border: 2px solid $primary_color;
  border-radius: 4px;
  
  width: 132px;
  height: 40px;
  
  background-color: #ffffff;
  
  font: inherit;
  font-size: 14px;
  font-weight: 600;
  color: $primary_color;
  
  &:hover {
    border: 2px solid $hovered_color;
    
    color: $hovered_color;
    cursor: pointer;
    
    .Plus {
      stroke: $hovered_color;
    }
  }
  
  &:focus {
    outline: 1px solid #a8adee;
  }
}

.ContentWrapper {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.Text {
  line-height: 21px;
  font-style: normal;
}

.IconWrapper {
  display: flex;
  align-items: center;
}

.Plus {
  stroke: $primary_color;
}