@import '../../../style/variables';

/*------------------------------------*\
  #Dropdown Wrapper
\*------------------------------------*/

.Dropdown {
  position: relative;
  display: inline-block;
}

/*------------------------------------*\
  #Dropdown Components (List and Item)
\*------------------------------------*/

.ListPosition {
  position: absolute;
  right: 0px;
  z-index: 100;
  
  padding-bottom: 10px;
  
  width: 165px;
  
  background-color: #00000000;
  
  &.Left {
    left:     0px;
  }
  
  &.Right {
    right:    0px;
  }
  
  &.Top {
    bottom:   28px;
  }
  
  &.Bottom {
    top:      48px;
  }
}