node_modules

public/**/*
!public/images
!public/images/test.jpeg

files/*
!files/de741848-5e90-4c5e-8699-78aca9b37aba
!files/ee8da299-1b61-2b55-9898-99ccc11b2def

.env
!.sample-env

logs/*
!logs/.gitkeep

# Windows service files
daemon/*
