.Table {
  border-collapse: collapse;
  table-layout: fixed;
  width: 100%;
  background-color: white;
  
  td, th {
    padding: 5px;
    text-align: left;
  }
}

.Head {
  tr {
    height: 55px;
    background: linear-gradient(#00396B, #004683, #00396B);
  }
  
  th {
    color: white;
    font: inherit;
    font-weight: 600;
  }
}

.FirstCol {
  th, td {
    text-align: center;
  }
}

