.Table {
  border-collapse: collapse;
  table-layout: fixed;
  width: 100%;
  background-color: white;
  //border-radius: 4px;
  overflow: hidden;
  
  td, th {
    padding: 5px;
    text-align: left;
  }
  
  td:nth-child(1),
  th:nth-child(1) {
    text-align: center;
  }
}

.Head {
  tr {
    height: 50px;
    background: #00396B;
  }
  
  th {
    color: white;
    font: inherit;
    font-weight: 600;
  }
}

.Body {
  tr {
    border-bottom: 1px solid #E5E5E5;
  }
  
  tr:nth-child(even) {
    background-color: #F5F5F5;
  }
  
  td {
    padding: 12px 10px;
    line-height: 0;
  }
  
  // td {
  //   font: inherit;
  //   font-weight: 400;
  //   color: #6d6d6d;
  //   padding: 12px 10px;
  //   font-size: 14px;
  //   line-height: 21px;
  //   text-align: justify;
  // }
}

.Cell {
  font: inherit;
  font-weight: 400;
  color: #6d6d6d;
  font-size: 14px;
  line-height: 21px;
  text-align: justify;
}
