.Login {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.Logo {
  height: 40px;
  width: 150px;
  
  img {
    width: 100%;
  }
}

.CardBox {
  background-color: #fff;
  margin-top: 55px;
  height: 330px;
  width: 440px;
  border-radius: 4px;
  box-shadow: 0 4px 10px rgba(203, 203, 203, 0.14);
}

.CardBoxContent {
  margin: 40px;  
}