@import "../../style/variables";

.SelectBox {
  padding-bottom: 10px;
  background-color: #00000000;
}

.ListWrapper {
  border:         1px solid $gray_200;
  border-radius:  4px;
  box-shadow:     0px 4px 10px rgba(203, 203, 203, 0.08);
  
  background-color: $white_0;
}

.InputWrapper {
  padding: 16px 16px 6px 16px;
}

/*------------------------------------*/
.List {
  margin-right:         0;
  padding:        8px 0;
  
  
  max-height: 200px;
  overflow-y: auto;
  
  
  
  list-style: none;
  
  
  &::-webkit-scrollbar {
    width: 6px;
    background-color: transparent;
  }
  
  &::-webkit-scrollbar-track {
    background-color: transparent;
    margin: 5px;
  }

  &::-webkit-scrollbar-thumb {
    border-radius: 4px;
    background-color: $gray_300;
  }
}

/*------------------------------------*/
.Item {
  margin:   0;
  padding:  8px 15px;
  
  display: flex;
  justify-content: space-between;
  
  font:   inherit;
  color:  $gray_500;
  
  line-height: 21px;
  
  overflow-x: hidden;
  
  
  &:hover {
    background-color: $gray_50;
    cursor:           pointer;
    color:            $gray_700;
  }

}

.TextItem {
  max-width: 80%;
  overflow-x: hidden;
  text-overflow: ellipsis;
}

.Selected {
  font-weight: 600;
  color: $gray_700;
}