@import "../../style/variables";

.Card {
  margin-top: 26px;
  background-color: white;
  border: 1px solid $gray_300;
  box-shadow: 0px 4px 10px rgba(190, 190, 190, 0.4);
  border-radius: 4px;
}

.CardHeader {
  border-bottom: 1px solid #dfdfdf;
}

.CardTitle {
  font: inherit;
  color: $gray_700;
  font-weight: 600;
  line-height: 28px;
  font-size: 1.428rem;
}

.CardBookmark {
  margin-left: 5px;
}