.MainPage {
  display: grid;
  height: 100vh;
  grid-template-columns: 256px 1fr;
  grid-template-rows: 85px 1fr;
  grid-template-areas: 
  "sidebarHeader header"
  "sidebar body";
}

.AppHeader {
  grid-area: header;
}

.AppSidebarHeader {
  grid-area: sidebarHeader;
}

.AppSidebar {
  grid-area: sidebar;
  overflow-y: auto;
}

.TitleArea {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.Buttons {
  display: flex;
  align-items: center;
}

.ButtonWrapper {
  margin-left: 15px;
}

.Body {
  grid-area: body;
}

