.TableStatus {
  font-weight: 600;
  padding: 3px;
  vertical-align: middle;
  line-height: 21px;
  
  img {
    margin-right: 5px;
    line-height: 21px;
  }
}

.Green {
  color: #4BCA81;
}

.Lime {
  color: #a9cc54;
}

.Blue {
  color: #6275dd;
}

.Red {
  color: #ee7474;
}

.Orange {
  color: #e2b023;
}

.Brown {
  color: #ad7b4c;
}

.Purple {
  color: #8a7c84;
}