.TitleArea {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0px 32px;
}

.Buttons {
  display: flex;
  align-items: center;
}

.ButtonWrapper {
  margin-left: 15px;
}