@import '../../../style/variables';

.AppSideBar {
  height: 100%;
  width: 100%;
  background-color: $secondary_color;
  border: 0px;
  overflow: auto;
}

.SidebarWrapper {
  margin-top: 20px;
}

.AppSidebarHeader {
  height: 100%;
  width: 100%;
  background-color: $secondary_color;
  display: flex;
  justify-content: space-around;
  align-items: center;
  border-bottom: 2px solid rgba(256, 256, 256, 0.12);
}

.ImgWrapper {
  width: 83px;
  height: 23px;
  
  img {
    width: 100%;
  }
}

.Version {
  height: 20px;
  width: 44px;
  border-radius: 4px;
  background-color: rgba(256, 256, 256, 0.04);
  text-align: center;
  padding: 0;
  
  font: inherit;
  font-weight: 700;
  font-size: 0.7142rem;
  color: $white_0;
  line-height: 20px;
  
  vertical-align: center;
}