@import "../../style/variables";

/*------------------------------------*\
  #Input Style
\*------------------------------------*/

.BasicInput {
  padding:       10px 16px;
  border:        1px solid $gray_350;
  border-radius: 4px;
  
  width:  100%;
  height: 40px;
  
  background-color: $white_0;
  
  font:        inherit;
  font-size:   1rem;
  font-weight: 400;
  color:       $gray_700;
  
  line-height: 21px;
  
  ::placeholder {
    color: $gray_400;
  }
  
  
  &:hover {
    border: 1px solid $gray_400;
  }
  
  &:focus,
  &:active {
    border:     1px solid $primary_color;
    box-shadow: 0px 0px 3px 2px rgba(21, 137, 238, 0.4);
    outline:    none;
  }
}



/*------------------------------------*\
  #Error Style
\*------------------------------------*/

.BasicInputError {
  border: 1px solid $danger_color;
  
  
  &:hover {
    border: 1px solid $hovered_danger;
  }
  
  &:focus,
  &:active {
    border:     1px solid $danger_color;
    box-shadow: 0px 0px 3px 2px rgba(194, 57, 52, 0.4);
    outline:    none;
  }
}