.BadgeWrapper {
  display: inline-block;
  margin-right: 12px;
}

.Badge {
  padding: 4px 12px;
  display: inline-block;
  font: inherit;
  font-weight: 600;
  font-size: 0.8rem;
  line-height: 16px;
  border-radius: 4px;
}

.Red {
  background-color: #C2393425;
  color: #C23934;
}

.Blue {
  background-color: #1589EE25;
  color: #1589EE;
}

.Green {
  background-color: #1bb70035;
  color: #41a230;
}

.Yellow {
  background-color: #e5e81866;
  color: #9c9e23;
}

.Orange {
  background-color: #f1b10040;
  color: #de9002;
}

.Purple {
  background-color: #ad12bf30;
  color: #c00ed6;
}

.Brown {
  background-color: #c7640045;
  color: #8a4501;
}

.Peach {
  background-color: #d0ab6535;
  color: #a58b59;
}

.Pink {
  background-color: #FF69B425;
  color: #FF69B4;
}