.BadgeWrapper {
  display: inline-block;
  margin-right: 12px;
}

.Badge {
  padding: 4px 12px;
  display: inline-block;
  font: inherit;
  font-weight: 600;
  font-size: 0.8rem;
  line-height: 16px;
  border-radius: 4px;
}

.Red {
  background-color: #C2393425;
  color: #C23934;
}

.Blue {
  background-color: #1589EE25;
  color: #1589EE;
}