@import '../../../../style/variables';

.SidebarGroup {
  margin-top: 0;
}

.List {
  margin: 0;
  padding: 0;
  list-style: none;
}

.Item {
  height: 37px;
  width: 100%;
  padding: 10px 24px;
  
  display: flex;
  align-items: center;
  
  font: inherit;
  font-weight: 600;
  font-size: 1rem;
  line-height: 21px;
  color: rgba(256, 256, 256, 0.4);
}

.ItemText {
  margin-left: 13px;
}