@import '../../../../style/variables';

.SidebarGroup {
  margin-top: 0;
}

.GroupDivider {
  padding: 22px 0;
  position: relative;
}

.DividerLine {
  border-top: 1px solid rgba(256, 256, 256, 0.08);
}

.DividerText {
  display: inline-block;
  position: absolute;
  top: 14px;
  left: 12px;
  z-index: 10;
  
  background-color: $secondary-color;
  padding: 0 10px;
  
  font: inherit;
  font-weight: 600;
  font-size: 10px;
  line-height: 16px;
  
  color: rgba(256, 256, 256, 0.24);
}

.List {
  margin: 0;
  padding: 0;
  list-style: none;
}

.Item {
  height: 37px;
  width: 100%;
  padding: 10px 24px;
  
  display: flex;
  align-items: center;
  
  font: inherit;
  font-weight: 600;
  font-size: 1rem;
  line-height: 21px;
  color: rgba(256, 256, 256, 0.24);
}

.IconWrapper {
  width: 17px;
  height: 17px;
  
  img {
    width: 100%;
    margin: auto;
  }
}

.ItemText {
  margin-left: 13px;
}