@import "../../style/variables";

.Card {
  margin-top: 26px;
  background-color: white;
  border: 1px solid $gray_300;
  box-shadow: 0px 4px 10px rgba(190, 190, 190, 0.4);
  border-radius: 4px;
}

.Buttons {
  display: flex;
  padding: 24px 40px;
  border-bottom: 1px solid $gray_200;
}

.Content {
  padding: 24px 40px;
}