@import "../../../style/variables";

/*------------------------------------*\
  #Notification Button
\*------------------------------------*/

.Notification {
  height: 30px;
  width:  30px;
  
  border:     none;
  background: none;
  
  
  &:focus,
  &:active {
    outline: none;
  }
}



/*------------------------------------*\
  #Notification Icon
\*------------------------------------*/

.NotificationIcon {
  path {
    stroke: $primary_color;
  }
}

.Notification:hover {
  cursor: pointer;
    
    .NotificationIcon {
      path {
        stroke: $hovered_primary;
      }
    }
}