@import "../../../style/variables";

.DatesGrid {
  grid-template: 
    "startDate startDate limitDate limitDate" / 
    1fr 1fr 1fr 1fr;
}

.ForwardBox {
  //position: sticky;
  //position: -webkit-sticky;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  bottom: -24px;
  margin: 16px -12px -24px -12px;
  background-color: white;
  border-top: 2px solid $gray_200;
  box-shadow: 0 -2px 4px 1px rgba(190, 190, 190, 0.3);
  padding: 14px 20px;
}

.ButtonWrapper {
  margin-right: 20px;
}