.TabInfo {
  padding-left: 12px;
  margin-bottom: 24px;
}

.ChartContainer {
  height: 400px;
  margin-bottom: 30px;
  padding: 10px;
}

.DataGrid {
  grid-template: 
    "1 2 out" / 
    1fr 1fr 2fr;
}