@import "../../../../../style/variables";

.TabInfo {
  margin-bottom: 30px;
  border-bottom: 1px solid $gray_100;
}

.SelectButtonsContainer {
  margin: 0px 20px;
  margin-bottom: 20px;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}

.ChartContainer {
  height: 400px;
  margin-bottom: 20px;
}