@import "../../../style/variables";

.Legend {
  margin: 4px 7px;
  font: inherit;
  font-style: normal;
  font-weight: 600;
  font-size: 0.85714rem;
  line-height: 20px;
  color: $gray_600;
}

.Error {
  .Legend {
    color: $danger_color;
  }
}

.ErrorMessage {
  margin: 4px 7px;
  display: flex;
  align-items: center;
}

.ErrorIcon {
  stroke: $danger_color;
}

.ErrorTextMessage {
  margin-left: 6px;
  color: $danger_color;
  font: inherit;
  font-style: normal;
  font-weight: 400;
  font-size: 0.85714rem;
  line-height: 20px;
}