.Modal {
  position: fixed;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 20;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  overflow: hidden;
  background-color: rgba(0, 0, 0, 0.4);
}

.ModalBox {
  background-color: #fff;
  margin:  10px;
  border-radius: 4px;
  width: 70%;
  padding: 20px;
  border: 1px solid #DFDFDF;
  box-shadow: 0 5px 10px 0 rgba(68, 68, 68, 0.671);
}