/*------------------------------------*\
  #Modal Overall Style
\*------------------------------------*/

.Modal {
  position: fixed;
  top: -100%;
  left: 0;
  z-index: 20;
  
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  
  height: 100%;
  width: 100%;
  
  overflow: hidden;
  opacity: 0;
  
  transition: top 0.4s, opacity 0.4s;
}

// Modal disappears
.Modal.Opened {
  top: 0;
  opacity: 1;
}

.ModalBox {
  margin:  10px;
  border: 1px solid #DFDFDF;
  border-radius: 4px;
  box-shadow: 0 5px 10px 0 rgba(68, 68, 68, 0.671);
  
  width: 50%;
  
  background-color: #fff;
}

.ModalHeader {
  display: flex;
  align-items: center;
  justify-content: space-between;
  
  padding: 15px;
  border-bottom: 1px solid #DFDFDF;
  
  height: 65px;
  
  background-color: #F5F5F5;
}

.Title {
  margin: auto 0;
  
  font: inherit;
  font-style: normal;
  font-size: 20px;
  font-weight: 600;
  line-height: 30px;
}

.IconWrapper {
  margin-right: 10px;
  
  height: 16px;
  width: 16px;
  
  img {
    width: 100%;
    height: 100%;
  }
  
  &:hover {
    cursor: pointer;
  }
}

.ModalContent {
  background-color: #fff;
  padding: 20px;
}

.ModalFooter {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  
  padding: 15px;
  border-top: 1px solid #DFDFDF;
  
  height: 65px;
  
  background-color: #F5F5F5;
}