@import "../../style/variables";

.Login {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.Logo {
  height: 40px;
  width: 150px;
  
  img {
    width: 100%;
  }
}

.CardBox {
  background-color: #fff;
  margin-top: 55px;
  width: 440px;
  border-radius: 4px;
  box-shadow: 0 4px 10px rgba(203, 203, 203, 0.14);
}

.Content {
  margin: 48px 40px 48px 40px;
}

.Input {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  margin-top: 24px;
}

.ButtonsContainer {
  margin-top: 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.ForgotPass {
  font: inherit;
  font-weight: 400;
  font-size: 1rem;
  line-height: 21px;
  color: $gray_300;
  text-decoration: none;
  margin-left: 4px;
  
  &:hover {
    color: $gray_400;
  }
}

.RequestAccess {
  font: inherit;
  margin-top: 48px;
  color: $gray_500;
  
  &:hover {
    color: $gray_600;
    cursor: pointer;
  }
}