@import "../../../style/variables";

.SingleCardHeader {
  padding: 24px 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}


.CardTitle {
  font: inherit;
  color: $gray_700;
  font-weight: 600;
  line-height: 28px;
  font-size: 1.428rem;
}

.CardHeaderTags {
  margin-top: 8px;
}

.BadgeWrapper {
  display: inline-block;
  margin-right: 12px;
}

.StatusBadge {
  padding: 4px 12px;
  display: inline-block;
  font: inherit;
  font-weight: 600;
  font-size: 0.8rem;
  line-height: 16px;
  border-radius: 4px;
}

.Blue {
  background-color: #1589EE25;
  color: #1589EE;
}

.Red {
  background-color: #C2393425;
  color: #C23934;
}

.Percentage {
  min-width: 180px;
  margin-left: 80px;
}